/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --color-de-fondo: #ecebea;
   --color-de-link: #464646;
   --color-fondo-celeste: #EAF2FD;
   --color-azul-boton: #2A7AE4;
   --color-gris-claro: #A2A2A2;
}

body {
    box-sizing: border-box;
    background-color: var(--color-de-fondo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}

ol, ul,li {
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--color-de-link);
}

hr{
    width: 80%;
    height: 3px;
    border-radius: 5px;
    background-color:gray;
}

.todo{
    /* padding: 0 9rem; */
}

/* section {
    margin-bottom: 3rem;
} */

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu{
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem 3rem 5rem;
    align-items: center;
}

.menu__header{
    display: flex;
    font-size:  16px;
    align-items: center;
}

.menu__header img{
    padding-right: 8px;
    width: 24px;
    height: 24px;
}

.menu__list{
    display: flex;
}

.menu__list__item{
    padding-right: 32px;
}

.menu__list__item__contacto{
    font-weight: bold;
}


/*Sección Title*/

section.title{
    padding: 0 5rem 3rem 5rem;
}

.title__div{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    color: var(--color-de-link);
}

.title__container{
    margin-right: 2rem;
}

.title__bio{
    font-size: 3rem;
    font-weight: bold;
}

.title__subsection{
    font-weight: 500;
    font-size: 1.5rem;
}

.title__network{
    display: flex;
}

.title__network__item{
    padding-right: 1.5rem;
}

/*Sección About*/

section.about{
    background-color: var(--color-fondo-celeste);
    /* width: 100%; */
    /* padding: 64px 0; */
    padding: 3rem 5rem 3rem 5rem;
}

.about__container{
    /* padding: 0 5rem 0 5rem; */
}

.about__title{
    font-size: 1.8rem;
    color: var(--color-de-link);
}

.about__paragraph{
    width: 60vw;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-de-link);
}

/*Sección Skills*/

section.skills{
    /* width: 100vw; */
    padding: 3rem 5rem 3rem 5rem;
}

.skills__title{
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    color: var(--color-de-link);
    /* padding-bottom: 32px; */
}

.skills__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills__box{
    width: 174px;
    height: 174px;
    background-color: #ffffff;
    display: flex;
    justify-content:flex-start;
    align-items: end;
    margin: 16px;
    padding-left: 1rem;
}


/*Sección Hobbies*/

section.hobbies{
    /* width: 100%; */
    padding: 0 5rem 3rem 5rem;
}

.hobbies__title{
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    color: var(--color-de-link);
    /* padding-bottom: 32px; */
}

.hobbies__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hobbies__box{
    width: 174px;
    height: 174px;
    background-color: #ffffff;
    display: flex;
    justify-content:flex-start;
    align-items: end;
    margin: 16px;
    padding-left: 1rem;
}

/*Formación Académica*/

section.academic{
    background-color: var(--color-fondo-celeste);
    /* width: 100%; */
    padding: 3rem 5rem 3rem 5rem;
}

.academic__title{
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    color: var(--color-de-link);
}

.academic__courses{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.academic__courses__box{
    width: 380px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.academic__courses__item__img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 350px;
    height: 250px;
}

.academic__courses__item__title h4{
    font-size: 1.3rem;
    color: var(--color-de-link);
    margin-block-start: 1rem;
    margin-block-end: 0;
}

.academic__courses__item__subtitle p{
    font-size: 1rem;
    color: var(--color-de-link);
    margin-block-start: 1rem;
}

/* experiencia profesional*/

section.experience{
    padding: 3rem 5rem 3rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience__section__title{
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    color: var(--color-de-link);
}    

.experiencie__box{
    width: 80%;
    flex-wrap: wrap;
    display: flex;
    margin: 2rem 0;
    align-items: center;
}

.experience__info{
    color: var(--color-de-link);
    margin: 2rem;
}

.experience__text{
    font-size: 0.9rem;
}

.experiencia__botao--repo{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 1rem;
    background-color: none;
    color: var(--color-azul-boton);
    padding: 1rem;
    border: 1px solid;
    transition: 0.5s all;
    cursor: pointer;
}

.experience__botao--demo{
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 1rem;
    background-color: var(--color-azul-boton);
    color: var(--color-de-fondo);
    padding: 1rem;
    border: none;
    transition: 0.5s all;
    cursor: pointer;
}

/*Contacto*/

section.formcontato{
    background-color: var(--color-fondo-celeste);
    padding: 3rem 5rem 3rem 5rem;
}

.formcontato__contacto{
    display: flex;
    align-items: center;
}

.formcontato__text{
    color: var(--color-de-link);
    padding-left: 1rem;
}

.formcontato__title{
    font-size: 1.8rem;
    margin-top: 0;
}

.formcontato__subtext{
    font-weight: 500;
    margin-block-start: 0;
    margin-block-end: 0;
}

.formcontato__form{
    margin-top: 2rem;
}

.formcontato__input{
    font-family: 'Raleway';
    font-size: 1rem;
    /* color: var(--color-gris-claro); */
    width: 100%;
    height: 56px;
    margin-bottom: 2rem;
    padding-left: 1rem;
    display: block;
    box-sizing: border-box; 
    border: none;
}

.formcontato__textarea{
    font-family: 'Raleway';
    font-size: 1rem;
    width: 100%;
    display: block;
    margin: 0 0 20px;
    padding: 1rem;
    box-sizing: border-box;  
    border: none;
}

input:focus, textarea:focus{
    border-bottom: 3px solid var(--color-azul-boton);
    /* outline-color: var(--color-azul-boton); */
    outline: none;
}

::placeholder{
    color: var(--color-gris-claro);
}

.formcontato__boton{
    font-family: 'Raleway';
    font-weight:lighter ;
    font-size: 1rem;
    background-color: var(--color-azul-boton);
    color: var(--color-de-fondo);
    width: 150px;
    height: 50px;
    border: none;
    transition: 0.5s all;
    cursor: pointer;
}

/*footer*/

section.footer{
   margin: 1rem;
   
}

.footer__rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__rodape p{
    margin: 0.2rem;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}